@import '../root.scss';

.homepage {
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .list {
    .list-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        text-decoration: none;
        font-weight: 700;
        color: $state-info;

        &:hover {
          color: $brand-primary;
        }
      }
    }
  }
}
