.search_filter {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid gray;
    padding-bottom: 25px;
}

.form-floating{
    padding-right: 24px;
    width: 340px;
}

.form-select {
    border-radius: 50px;
}