@import '../../root.scss';

.form-input-comment {
  .form-floating {
    display: flex;
    flex-direction: column;

    .submit-comment {
      background-color: $brand-primary;
      border: none;
      font-weight: 700;
      align-self: end;

      &:hover {
        background-color: $brand-secondary;
        color: $bw-black;
      }
    }
  }
}
