// Brand Colors
$brand-primary: #214457;
$brand-secondary: #f2d555;
$brand-mint: #f0f2e9;

// State Colors
$state-info: #3e89ae;
$state-success: #61d3a4;
$state-warning: #f8d277;
$state-error: #dd5571;

// Black & White Colors
$bw-black: #000000;
$bw-gun: #373737;
$bw-ash: #999999;
$bw-white: #ffffff;

// Tone Colors
$tone-mint: #828282;
$tone-cloud: #bdbdbd;
$tone-cream: #f9f5e4;
$tone-vogue: #333333;
$tone-wheat: #4f4f4f;
